.scrolling {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.search-input {
  padding-left: 6px;
  padding-right: 12px;

  flex-grow: 1;
}

.search-button {
  flex: 1;
}
