.nav {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  width: 200px;
}

.nav a {
  color: #acd;
  background: #777;
  border: 1px solid #333;
  margin: 5px;
  padding: 8px;
}

.nav a:hover {
  background: #555;
}
